@using LoginPage.Models
@model IEnumerable<Table>

<a asp-action="Table" asp-route-id="null">Create</a>

<table>
    <thead>

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Status</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Address</th>
            <th scope="col">Gsm</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
    {
        <tr>
            <th>@item.name</th>
            <th>@item.surname</th>
            <th>@item.status</th>
            <th>@item.username</th>
            <th>@item.password</th>
            <th>@item.adress</th>
            <th>@item.gsm</th>
            <td>
            <td>

                @if (item.status == "admin")
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-username="@item.username">Delete</a>
                }
                <a class="btn btn-secondary" asp-action="Update" asp-route-username="@item.username">Update</a>
            </td>
        </tr>
    }
    </tbody>
</table>
