@using LoginPage.Models
@model Login

<h1>Sa as</h1>

<h2>@Model.name</h2>
<h2>@Model.surname</h2>
<h2>@Model.status</h2>
<h2>@Model.username</h2>
<h2>@Model.password</h2>
<h2>@Model.gsm</h2>
@if (@Model.status == "admin") {
}

